body {
    background-color: #282f3a;
    /*background: linear-gradient(180deg, #4b515b 10%, #282f3a 100%);*/
}

nav {
    background-color: #4b515b;
    box-shadow: 0 1px 1px 0 black;
}

.menu {
    color: #c9cacc;
}