@import url('https://fonts.googleapis.com/css?family=Dosis:400,600');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Baumans');
@import url('https://fonts.googleapis.com/css?family=Megrim');


main {
    font-family: 'Dosis', sans-serif;
    font-size: 1.3em;
    display: inline-block;
    margin-left: calc((100% - 500px) / 2);

}

.text {
    max-width: 500px;
}
@media (min-width: 1000px) {
    .photo {
        position: absolute;
        margin-top: 15px;
        margin-left: -200px;
    }

    .photo > img {
        height: 200px;
    }

    .title {
        margin-bottom: 30px;
    }
}

@media (max-width: 1000px) {
    .photo {
        position: relative;
        width: 100%;
        margin: auto 0;
    }

    .photo img {
        display: block;
        height: 300px;
        margin: 0 auto;
    }

    .title {
        margin-bottom: 0;
    }
}


.photo > img {
    border-radius: 50%;
    border: 3px #0096e8 solid;
}

.text {
    display: inline-block;
    margin-left: 45px;
}

.title {
    display: inline-block;
}

.title > h1 {
    margin-top: 0;
    font-family: 'Poiret One', cursive;
    font-size: 85px;
    margin-bottom: 5px;
}

.title > h2 {
    font-size: 40px;
    margin: 0;
    text-align: center;
    font-family: 'Baumans', cursive;
    /*font-family: 'Megrim', cursive;*/
}

.text > h2 > p {
    margin: 0;
}

.mail {
    margin-left: 0.7em
}