@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body {
    margin: 0;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    font-family: 'Lato', sans-serif;
    background: url("dark-background.png");
    color: #dee1e5;
}

.icons {
    display: flex;
    margin-left: auto;
    margin-right: 5px;
}

nav {
    margin: 0 0 50px 0;
    height: 55px;
    display: flex;
    background-color: #1f2a3a;
    width: auto;
    font-size: 30px;
    color: #c9cacc;
    box-shadow: 0 1px 1px 0 black;
}

main {
    margin: 0 5px;
    display: flex;
    justify-content: center;
}

.extend, .shrink {
    margin-left: 5px;
    display: none;
    width: 30px;
}

nav > a {
    display: flex;
    align-items: center;
    font-weight: bold;
    text-decoration: none;
    padding-bottom: 5px;
    margin-left: 50px;
    height: 100%;
    cursor: pointer;
    box-sizing: border-box;
}


a {
    text-decoration: none;
    color: #dee1e5;
}

a:hover {
    color: #0096e8;
}

.github {
    align-self: center;
    margin-right: 5px;
    width: 35px;
    height: 35px;
    margin-left: auto;
}

.github > img {
    align-self: center;
    width: 35px;
    height: 35px;
}

nav > a > p {
    margin: 0;
}

nav > .active {
    color: #0096e8;
    border-bottom: #0096e8 5px solid;
    padding-bottom: 0;
}

.hidden {
    display: none;
}

.flags {
    align-self: center;
}

.flags img {
    cursor: pointer;
    width: 40px;
    height: 20px;
    border-radius: 5px;
    border: black solid 1px;
}

footer {
    position: relative;
    height: 70px;
    width: 100%;
}

footer svg {
    position: absolute;
    bottom: 0;
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
    nav {
        margin: 0 0 30px 0;
    }

    nav a {
        margin-left: 15px;
    }

    .github {
        margin-right: 10px;
    }
}

@media only screen and (max-width: 600px) {
    body {
        grid-template-rows: 1fr auto;
    }

    main {
        margin-top: 60px;
    }

    nav {
        height: auto;
        width: 100%;
        position: fixed;
    }

    nav > a {
        width: max-content;
        padding-bottom: 0;
        margin-left: 5px;
    }

    nav:not(.extended) > a {
        display: none;
    }

    nav .extend {
        display: flex;
        flex-direction: row;
        align-self: center;
    }

    .icons {
        margin-top: 2px;
        height: max-content;
    }

    .extended {
        flex-direction: column;
    }

    .extended > a {
        margin-left: 5px;
    }

    .flags .hidden {
        display: block;
    }

    .flags *:not(.hidden) {
        display: none;
    }

    .extended .extend {
        display: none;
    }

    .extended .shrink {
        display: block;
    }

    .extended .icons {
        position: absolute;
        right: 0;
    }

}
