@import url('https://fonts.googleapis.com/css?family=Sunflower:300,500');

body {
    margin: 0;
    padding: 0;
    font-family: 'Sunflower', sans-serif;
    /*background-color: #282f3a;*/
    background: url("dark-background.png");
    color: #dee1e5;
}

nav {
    margin: 0 0 65px 0;
    padding: 0;
    height: 55px;
    width: 100%;
    display: flex;
    background-color: #1f2a3a;
    font-size: 30px;
    color: #c9cacc;
    box-shadow: 0 1px 1px 0 black;
}


nav > a {
    display: block;
    text-decoration: none;
    padding-bottom: 5px;
    margin-left: 50px;
    height: 100%;
    cursor: pointer;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #dee1e5;
}

a:hover {
    color: #0096e8;
}

.github {
    align-self: flex-end;
    margin-left: auto;
    margin-right: 10px;
}

.github > img {
    margin-top: 7px;
    width: 35px;
}

nav > a > p {
    margin-top: 10px;
    margin-bottom: 0;
    height: 100%;

}

nav > .active {
    color: #0096e8;
    border-bottom: #0096e8 5px solid;
    padding-bottom: 0;
}

.options img{
    cursor: pointer;
    width: 40px;
    height: 20px;
    border-radius: 5px;
    border: black solid 1px;
}

.options {
    width: 70px;
    margin-top: 5px;
}

.options-container {
    position: absolute;
    background-color: #1f2a3a;
    padding: 5px;
}

.options-container:hover {
    box-shadow: 1px 1px 1px 1px black;
}

.sub-menu {
    margin-top: 5px;
    padding: 0;
    display: none;
    width: 40px;
}

.options-container:hover .sub-menu{
    display: flex;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer svg {
    position: absolute;
    bottom: 0;
}

footer polygon {
    padding: 0;
    margin: 0;
}