@media (min-width: 850px) {
    .personal-photo{
        width: 225px;
    }

    .text {
        margin-left: 45px;
    }
}

@media (max-width: 850px) {
    .personal-photo{
        width: 175px;
    }

    .text {
        margin-left: 25px;
    }
}

.short-info {
    display: inline-block;
}

.short-info > p {
    font-size: 1.2em;
    margin: 7px 0;
}

.button-selected {
    fill: black;
}

.picture-buttons {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: 3px auto 0 auto;
}

.picture-buttons > svg:hover {
    cursor: pointer;
}

.picture-buttons > svg:hover > circle:not(.button-selected) {
    fill: #c9cacc;
}

.picture-desc {
    text-align: center;
}

.personal-photo {
    border-radius: 5px;
    border: 3px #0096e8 solid;
}

.small-flag {
    width: 1.2em;
}

main {
    display: flex;
}

.short-info {
    margin-left: auto;
}

.text {
    margin-right: auto;
}

.text {
    max-width: 550px;
}

.text > article {
    font-size: 1.2em;
    margin-bottom: 15px;
}

article > h1 {
    margin: 0;
}