main {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1380px) {
    .projects {
        display: grid;
        grid-template-columns: auto auto;
        grid-column-gap: 100px;
        justify-content: center;
    }

    article {
        width: 600px;
    }

    article > a {
        width: 500px;
    }
}

@media (max-width: 1380px) {
    .projects {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }

    article {
        width: 730px;
    }

    article > a {
        width: 630px;
    }
}

.projects > article {
    border: 3px #0096e8 solid;
    border-radius: 7px;
    margin-bottom: 45px;
}

.title {
    margin-bottom: 15px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.title a {
    display: inline;
}

.title > h1, .title > h2 {
    margin: 0;
}

.list {
    height: 100%;
}

.title ul {
    display: inline-block;
    cursor: pointer;
}

main a {
    text-decoration: underline;
}

article h1{
    font-size: 3.2em;
    margin: 15px 0;
    text-align: center;
}

article > a {
    display: block;
    border: 3px #0263e2 solid;
    border-radius: 4px;
    margin: 0 auto;
}

article > .text {
    display: inline-block;
    margin-left: 15px;
}

article img {
    display: block;
    width: 100%;
}

article p {
    font-size: 1.5em;
    margin: 5px 0;
}

ul {
    margin: 5px 0;
}

li {
    font-size: 1.2em;
}


.list {
}