@import url('https://fonts.googleapis.com/css?family=Dosis:400,600');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Baumans');
@import url('https://fonts.googleapis.com/css?family=Megrim');


main {
    flex-direction: row;
    font-family: 'Dosis', sans-serif;
    font-size: 1.3em;
}

.title {
    margin-bottom: 30px;
}

.text {
    max-width: 500px;
}

.photo {
    margin-top: 15px;
    margin-right: 45px;
}

.photo > img {
    width: 200px;
    border-radius: 50%;
    border: 3px #0096e8 solid;
}

.title > h1 {
    margin-top: 0;
    margin-bottom: 5px;
    font-family: 'Poiret One', cursive;
    font-size: 85px;
    text-align: center;
}

.title > h2 {
    margin: 0;
    font-family: 'Baumans', cursive;
    font-size: 40px;
    text-align: center;

}

.text > h2 > p {
    margin: 0;
}

.mail {
    margin-left: 0.7em
}

@media only screen and (max-width: 1000px) {
    main {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .photo {
        margin-right: 0;
    }

    .photo img {
        display: block;
        width: calc(100% - 6px);
        max-width: 250px;
    }

    .title {
        margin-bottom: 0;
    }

    .title > h1 {
        font-size: 65px;
    }

    .title > h2 {
        font-size: 25px;
    }

    .text {
        font-size: 0.8em;
    }
}
